# Environments
venv/
env/
.venv/
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
.vscode/
.idea/

# Data / secrets
*.log
*.db
*.sqlite3
/data/raw/
credentials.json
